body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: darkslategray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#message {
    position: relative;
    width: 430px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
h1 {
    display: inline-block;
}
#gameBoard {
    background-color: darkgoldenrod;
    border: solid darkgoldenrod;
    width: 425px;
    height: 425px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.square {
    background-color: burlywood;
    border: 1px firebrick solid;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tile {
    font-size: 3em;
    width: 100px;
    height: 100px;
    background-color: wheat;
    color: darkslategrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.dragged {
    background-color: rgb(255, 248, 225);
}

#key {
    position: absolute;
    background-size: 154px 108px;
    width: 49px;
    height: 52px;
    background-image: url('./assets/images/full-size/arrowKeys.png');
    right: 0;
    bottom: 10px;
}

@media screen and (max-width: 480px) {
    #message {
        width: 90vw;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    h1 {
        font-size: 1.6em;
    }
    #gameBoard {
        width: 90vw;
        height: 90vw;
    }
    .square {
        width: 21vw;
        height: 21vw;
    }
    .tile {
        width: 100%;
        height: 100%;
        font-size: 2em;
        -webkit-text-stroke: unset;
    }
    p {
        font-size: .95em;
        text-align: center;
    }
}